
<div class="container">
  <app-gh-form (searchResult) = "submitUser($event)" ></app-gh-form>
</div>

<div class="profile-repo container bg-dark text-light w-100 rounded-3">
    <div *ngIf="user">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">{{ user.name }}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <h4 class="panel-title text-center">{{ user.login }}</h4>
              <img
                class="img-thumbnail github-avatar"
                src="{{ user.avatar_url }}"
              />
            </div>
            <div class="col-md-8 d-flex m-auto lead">
              <div class="stats d-flex flex-column justify-content-evenly align-content-center">
                <div>
                  <span>Public Repos: </span>
                  <span class="label label-default fw-bold text-info"
                    >{{ user.public_repos }}
                  </span>
                </div>
                <div>
                  <span>Followers: </span>
                  <span class="label label-success fw-bold text-info"
                    >{{ user.followers }}
                  </span>
                </div>
                <div>
                  <span>Following: </span>
                  <span class="label label-info fw-bold text-info"
                    >{{ user.following }}
                  </span>
                </div>
                <div>
                  <span>Member since: </span>
                  <span class="label label-info fw-bold text-info"
                    >{{ user.created_at | date }}
                  </span>
                </div>
              </div>
              <br/>
              <hr style="background-color: blue;">
            </div>
          </div>
        </div>
      </div>

      <br><br><br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 id="repo" class="panel-title text-center">Repostories</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div *ngFor="let repo of repos">
                <div class="row">
                  <div class="col-md-9">
                    <h4>
                      <a id="reponame" href="{{ repo.html_url }}" target="_blank">{{
                        repo.name
                      }}</a>
                    </h4>
                    <p id="description" >{{ repo.description }}</p>
                  </div>
                  <div class="col-md-3">
                    <div>
                      <span class="label label-default mx-2"
                        >Watchers: {{ repo.watchers }}</span
                      >
                      <br>
                      <span class="label label-primary mx-2"> Updated on: {{ repo.created_at| date }} </span>
                    </div>
                    <div  class="label label-primary mx-2">
                      Language: <span appHighlight> {{ repo.language }} </span>
                      <br>
                      Created: {{ repo.updated_at | dateCheck }}
                  </div>
                  </div>
                </div>
                <hr style="background-color: blue; height: 3px;"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
