
h3{
    color: rgb(236, 250, 250);
    font-size: 2rem;
    text-align: center;    
}

#repo{
    font-size: 3.5rem;
    text-decoration: underline;
}

img{
    height: 236px;
    width: 304px;
}

a {color: rgb(90,165,251);}

.card{
    background-color: #0D1117;
}


.profile-repo {
    transform-style: preserve-3d;
    padding-top: 1rem !important;
    perspective: 500px;
    border: none;
    background-color: inherit;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(17, 16, 16, 0.301) !important;
    transform-style: preserve-3d;
    transition: 0.5s;
    /* backface-visibility: hidden; */
    /* border-top: 1px solid #ddd; */
    border-top: 1px solid rgba(255, 255, 255, 0.609);
    border-left: 1px solid rgba(255, 255, 255, 0.609);
    border-radius: 20px !important;
    color: #ddd;
    letter-spacing: 0.8px;
  }

  #description{
    color: aqua;
    font-style: italic;
    font-size: larger;
    font-weight: 400;
}

h3{
    font-weight: 600;
    font-size: 50px;
    color: white;

}

#reponame{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}
