*{
    box-sizing: border-box;
}

body{
    margin: auto, 0;
    margin-top: 10px solid white;
    color: white;
    width: 70%;
    margin: auto;
    /* justify-content: center; */
    background-image: url("../assets/gitbckgrnd.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-bottom: 3px solid blue;
}

h4{
    color: white;
    font-size: 36px;
    font-weight: 600;
}