*{
    box-sizing: border-box;
}

body{
    margin: auto, 0;
    margin-top: 10px solid white;
    color: white;
    width: 80%;
    margin: auto;
    /* justify-content: center; */
    background-color: darkblue ;
    /* background-image: url("https://media.istockphoto.com/photos/digital-cyberspace-with-particles-and-digital-data-network-high-picture-id1302189748?b=1&k=20&m=1302189748&s=170667a&w=0&h=s0o2dhTh40lrWLPt6rg54S0jCUywkr6h04rDdfStMq8="); */
    background-size: cover;

}

h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-bottom: 3px solid blue;
}

h4{
    color: white;
    font-size: 36px;
    font-weight: 600;
}