*{
    box-sizing: border-box;
}

body{
    margin: auto, 0;
    color: white;
    background-image: url("../assets/gitbckgrnd.jpg");
}

h1{
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    border-bottom: 3px solid blue;
}

h4{
    color: white;
    font-size: 36px;
    font-weight: 600;
}