
<footer>
    <div class="container-fluid" id="Contact-icons"  >
        <div class="inline-ul text-center d-flex justify-content-center"  >
            <a class="icons tw-ic px-4"style="font-size: 2rem;" href="https://twitter.com/login"><i class="fa fa-twitter"></i></a>
            <a class="icons li-ic px-4" style="font-size: 2rem;" href="https://wa.me/0713925352" ><i class="fa fa-whatsapp"></i></a>
            <a class="icons ins-ic px-4" style="font-size: 2rem;" href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"> </i></a>
            <a class="icons tw-ic px-4"style="font-size: 2rem;" href="www.linkedin.com/in/maureen-muriithi-675412170"><i class="fa fa-linkedin"></i></a>
            <a class="icons tw-ic px-4"style="font-size: 2rem;" href="https://github.com/maureen-muriithi"><i class="fa fa-github"></i></a>
        </div>
        <div class="text-center mt-3">
            <p><i class="fa fa-copyright" style="font-size: large; color: blue;" >Maureen Muriithi, 2022</i></p>
        </div>
    </div>
</footer>


  