/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: auto, 0;
    margin-top: 10px solid white;
    color: white;
    width: 70%;
    margin: auto;
    background-color: darkblue;
    background-image: url("https://media.istockphoto./photos/digital-cyberspace-with-particles-and-digital-data-network-high-picture-id1302189748?b=1&k=20&m=1302189748&s=170667a&w=0&h=s0o2dhTh40lrWLPt6rg54S0jCUywkr6h04rDdfStMq8=");
    background-repeat: no-repeat;
    background-size: cover;

}